@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  html {
    @apply antialiased;
  }

  body {
    @apply bg-obsidian-950 text-white;
  }

  * {
    @apply box-border;
  }

  ::-webkit-scrollbar {
    @apply w-1.5 h-1.5;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-white/10;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-white/20;
  }
}
